{% extends "base.html" %}
{% include "nav.html" %}
{% block content %}

<section id="addType" class="section">
    <div class="section-content container padding-1-5">
        <h1>Add Type</h1>

        <form action="{{url_for('addType')}}" method = "post" class="padding-top-10">
            <div class="form-group">
                <label for="name">Type Name:</label>
                <input type ="text" class="form-control" id="name" maxlength="250" name="name">
            </div>
            <div class="form-group">
                <button type="submit" id="submit" class="btn btn-primary">Save</button>
                <a href="{{url_for('showType')}}">
                    <button type="button" class="btn btn-danger">Cancel</button>
                </a>
            </div>
        </form>
    </div>
</section>

{% endblock %}
